<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Marko Girlinger | Fakebook</title>
    </head>
    <body>
        <h1><i>FAKEBOOK</i></h1>
        Search: <input type="text" placeholder="Search by name">

        <br>

        <h2>Marko Girlinger</h2>
        <img src="static/img/Guinness.jpg" width="150px">

        <br>
        <br>

        <button> Add a friend</button>

        <br>

        <p><b>City:</b> Koper</p>
        <p><b>Age:</b> 30+</p>
        <p><b>Education:</b> Yes</p>
        <p><b>Hobby:</b> Videogames</p>
        <p><b>FB friends:</b> 7</p>
        <p><b>FB enemies:</b> Probably</p>

    </body>
</html>